/*
!/.gitignore
!/install.cmd
!/pom.xml
!/src/*
!/README.md
!/LICENSE.md

!/minecraft/
minecraft/src/main/java/net/minecraft/
minecraft/src/main/java/mcp/
minecraft/lib/
minecraft/workspace/
minecraft/target/
minecraft/minecraft.iml

#Optifine
minecraft/src/main/java/assets/
minecraft/src/main/java/optfine/
